
.btn-size{
    width: 10vw; 
    min-width: 150px;
}

.profile-img-size{
    width: 60px;
}

.fullscreen{
    width: 100vw;
    height: 100vh;
}

.position-top{
    position: fixed;
    top: 0;
    left: 0;
}
